@import "../../../variables.scss";
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 10%;
  &__copyright {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: $grayDark;
  }
  &__phone-number {
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    color: $mainBlack;
    &:hover {
      color: $mainAccent;
    }
  }
}
@media (max-width: $smart) {
  .footer {
    background-color: $mainBlack;
    color: $grayLight;
    padding-right: 5%;
    flex-direction: column-reverse;
    align-items: flex-end;
    &__phone-number {
      color: $mainAccent;
      &:hover {
        color: $grayLight;
      }
    }
  }
}