@import "../../../../variables.scss";

.step-one {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  &__form {
    margin-bottom: 16px;
    text-align: end;
    &__city,
    &__pick-up-point {
      &__description {
        color: $mainBlack;
        font-weight: 300;
        font-size: 14px;
        position: relative;
        white-space: pre;
      }
      &__input {
        min-width: 247px;
        color: $mainBlack;
        font-weight: 300;
        border: none;
        border-bottom: $grayLight solid 2px;
        outline: none;
        padding: 0px 4px;
        margin: 0px 16px;
      }
      &__reset {
        position: absolute;
        right: 20px;
        top: -1px;
        color: $mainBlack;
        border: 0;
        display: none;
        border-radius: 50%;
        background-color: transparent;
        transition: background 200ms;
        outline: none;
      }
      &__input:valid ~ &__reset {
        display: block;
      }
    }
  }
}
.map-block {
  padding-top: 16px;
  &__description {
    color: $mainBlack;
    font-weight: 300;
  }
}
.map {
  width: 100%;
}
