@import '../../../../variables.scss';
$pointer: url('../../../../assets/Pointer.svg'), default;

.order-page {
  display: flex;
  margin-left: 64px;
  flex-direction: column;
  height: calc(100% - 67px);
  box-sizing: border-box;
  &__nav {
    color: #121212 !important;
    border-top: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
    padding: 2px 64px;
    height: 21px;
    &__number{
      display: contents;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $mainBlack;
    }
    &__btn {
      color: $mainAccent;
      background: transparent;
      border: none;
      outline: none;
      cursor: $pointer;
      &:active,
      &:hover {
        color: darken($mainAccent, 10);
        border: none;
        outline: none;
      }
      &.completed {
        color: $mainBlack;
      }
      &:disabled {
        color: $grayDark;
      }
    }
  }
  &__container {
    box-sizing: border-box;
    height: calc(100% - 92px);
    display: flex;
    justify-content: space-between;
    &__form {
      padding: 32px 0px 0px 64px;
    &__head {
      font-weight: normal;
    font-size: 24px;
    color: $mainBlack;
    }
    }
    &total {
        flex: 2;
    }
  }
}
@media (max-width: $desktopMini) {
  .order-page {
    &__container {
      &__form {
        padding: 32px 0px 0px 64px;
      }
    }
  }
}
@media (max-width: $tablet) {
  .order-page {
    &__container {
      &__form {
        padding: 16px;
        
      }
      &__total {
        flex: 2;
      }
    }
  }
}
@media (max-width: $smart) {
  .order-page {
    margin: 0px;
    overflow-y: auto;
    &__nav {
      padding: 20px;
      overflow-x: scroll;
      white-space: nowrap;
    }
    &__container {
      flex-direction: column;
      
      &__form {
        padding: 8px;
        height: auto;
      }
    }
  }
}
